@import "../../utilities/variables";

.container-fluid.mb-4 { 
    .navbar.navbar-dark { 
        background-color: black;

        .btn.btn-search { 
            background-color: $buttonColor;
            color: white;
        }
    }
}

ul.brewery-nav {
    display: inline-block; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
}