@import "../../utilities/variables";

.list-group-item.list-group-item-action.list-group-item-secondary {
    border: 3px solid #9DBBAE;

    &:hover {
        background-color: $hoverColor;
        color: $textColor;

        a {
            color: white;
        }
    }
}